---
layout: post
title: "Articles"
---
{% for post in paginator.posts %}
	<!--<p><strong>{{ post.date | date_to_string }}</strong> &mdash; <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></p>-->
	<a href="{{ post.url }}" title="{{ post.title }}"><h4>{{ post.title }}</h4></a>
	<em>{{ post.date | date_to_string }}</em>
	{{ post.excerpt }}

	...

{% endfor %}

<!-- Page: [ 1 | 2 | 3 | ... ] -->
{% if paginator.total_pages > site.paginate %}
<nav>
	<ul>Page:
	{% for page in (1..paginator.total_pages) %}
		{% if page == paginator.page %}
			<li>{{ page }}</li>
		{% elsif page == 1 %}
			<li><a href="/blog">{{ page }}</a></li>
		{% else %}
			<li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
		{% endif %}
	{% endfor %}
	</ul>
</nav>
{% endif %}

<!-- pagination
<nav style='text-align: center;'>
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Prev &laquo;</a>
  {% else %}
    <span>Prev &laquo;</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="webjeda">{{ page }}</span>
    {% elsif page == 1 %}
      <a href="/blog">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo; Next</a>
  {% else %}
    <span>&raquo; Next</span>
  {% endif %}
</div>
{% endif %}
</nav>
-->

