---
layout: post
title: "Articles"
excerpt: "A blog about systems administration, automation, Linux, and bash shell scripting."
---
{% for post in paginator.posts %}
	<a href="{{ post.url }}" title="{{ post.title }}"><h4>{{ post.title }}</h4></a>
	<em>{{ post.date | date_to_string }}</em>
	{{ post.excerpt }}

	...

{% endfor %}

<!-- pagination -->
{% if paginator.total_pages > site.paginate %}
<nav>
	<ul>Page:
	{% for page in (1..paginator.total_pages) %}
		{% if page == paginator.page %}
			<li>{{ page }}</li>
		{% elsif page == 1 %}
			<li><a href="/blog">{{ page }}</a></li>
		{% else %}
			<li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
		{% endif %}
	{% endfor %}
	</ul>
</nav>
{% endif %}

