---
title: "Nate Woodward"
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ page.title }} - {{ layout.title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/highlight.css">
	<meta name="description" content="{{ page.excerpt | strip_html | strip }}">
</head>

<body>

<header>
	<h1>{{ layout.title }}</h1>

	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<!--<li><a href="/projects">Projects</a></li>-->
			<li><a href="/blog">Blog</a></li>
		</ul>
	</nav>
</header>

<main>
{{ content }}
</main>

<footer>
Copyright &copy; Nate Woodward
</footer>

</body>
</html>
